* {
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  @include color(background, --bg-color, $theme-light-bg-color);
  @include color(color, --first-text-color, $theme-light-first-text-color);
}

html {
  padding: 1.75rem 0;
}

body {
  font-family: $font-primary;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  min-height: 100vh;
}

main {
  font-size: $font-size;
}

a {
  @include color(color, --links-color, $theme-light-links-color);
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid;
  @include color(border-left-color, --second-text-color, $theme-light-second-text-color);
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}
