.catalogue {

  font-size: large;
  margin: 10px 0;

  &-title {
    margin: 0;
    font-size: larger;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-subtitle {
    margin: 0;
    font-size: large;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  div {
    margin: .3rem;
    padding: .4rem;
    opacity: .9;
    color: $default-color;
  }

  div:hover {
    text-decoration: none;
    text-decoration-color: $default-shade;
    opacity: 1;

    border-radius: 2px;
    background-color: #efefef;
    color: #000;
  }
}
