.catalogue {
  div {
    margin-bottom: 1.2rem;
  }

  &-item {
    color: $default-color;
    display: block;
    padding: .8rem 0;

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    letter-spacing: .5px;
  }

  a {
    opacity: 0.8;
  }

  a:hover {
    opacity: 1;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: .5rem;
  }

  &-subtitle {
    color: $default-shade;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }

  &-line {
    border-top: .2rem solid $default-shade;
    display: block;
    width: 3rem;
  }

  &-image {
    max-height: 320px;
  }
}
