pre,
code {
  font-family: $font-mono;
}

code {
  background-color: var(--code-background-color, $theme-light-code-background-color);
  color: var(--accent-text-color, $theme-light-accent-text-color);
  border-radius: 4px;
  font-size: $font-size-code;
  padding: 3px 4px;
  transition: color 0.25s, background-color 0.5s;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
  padding: .8em;
}

pre code {
  background-color: transparent;
  color: inherit;
  padding: 0;
  font: 400 0.85rem Menlo, monospace;
}

.highlight {
  border-radius: 3px;
  line-height: 1.1;
  margin: 0 0 1rem;
  padding: 1rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
