main,
footer {
  display: block;
  margin: 0 auto;
  max-width: $body-width;
  width: 80%;
}

footer {
  padding: 2rem 0;
  text-align: center;

  span {
    @include color(color, --second-text-color, $theme-light-second-text-color);
    font-size: .8rem;
  }
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  font-size: 1.1rem;
  margin: auto;
  padding-bottom: 1rem;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);

  .profile-icon {
    height: 50px;
    width: 50px;
    position: relative;
    margin-left: 2rem;
  }

  img {
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
    width: 100%;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    a {
      font-size: 1.1em;
      @include color(color, --second-text-color, $theme-light-second-text-color);
      opacity: .8;
      margin-right: 2rem;
    }

    a:hover,
    a:focus {
      opacity: 1;
    }
  }

  .theme-selector {
    padding-top: 20px;
    margin: 12px;

    .theme-button {
      display: none;
      padding: 0;
      border: none;
      background: transparent;
      color: gray;
      cursor: pointer;
      margin-right: 1rem;

      &:not(:hover) {
        border-bottom-color: transparent;
      }

      &.enabled {
        display: inline;
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    text-align: center;
    width: auto;

    .profile-icon {
      text-align: center;
      height: 100px;
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }

    nav {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      margin-left: inherit;
    }
  }
}
