main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

footer {
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  font-size: 1.1rem;
  margin: auto;
  padding-bottom: 1rem;
  box-shadow: 0 2px 2px -2px $shadow-color;

  .profile-icon {
    height: 50px;
    width: 50px;
    position: relative;
    margin-left: 2rem;
  }

  img {
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    color: $default-color;

    a {
      font-size: 1.1em;
      color: $default-color;
      opacity: .8;
      margin-right: 2rem;
    }

    a:hover,
    a:focus {
      opacity: 1;
    }
  }
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    text-align: center;
    width: auto;

    .profile-icon {
      text-align: center;
      height: 100px;
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }

    nav {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      margin-left: inherit;
    }
  }
}
