@mixin color($property, $var, $fallback) {
  #{$property}: var($var, $fallback);
}

.theme-dark {
  --bg-color: #{$theme-dark-bg-color};
  --first-text-color: #{$theme-dark-first-text-color};
  --second-text-color: #{$theme-dark-second-text-color};
  --accent-text-color: #{$theme-dark-accent-text-color};
  --links-color: #{$theme-dark-links-color};
  --catalogue-color: #{$theme-dark-catalogue-color};
  --code-background-color: #{$theme-dark-code-background-color};
  --timeline-background-color: #{$theme-dark-timeline-background-color};
  --timeline-bullet-color: #{$theme-dark-timeline-bullet-color};
}
