.pagination {
  box-shadow: 0 -2px 2px -2px rgba(120, 120, 120, .4);
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    font-size: 1.1rem;
  }

  .top {
    color: var(--first-text-color, $theme-light-first-text-color);
    font-size: 1.1rem;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
