.post {
  padding: 1rem 0;

  &-title {
    margin-bottom: 0;
  }

  &-subtitle {
    margin: 0 0 5px 0;
  }

  &-line {
    margin-bottom: 1.5rem;
  }

  time {
    color: #AAAAAAFF;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  hr {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
}
