.tags {
  &-header {
    &-title {
      font-size: 4rem;
      margin: 1rem 0;
      text-align: center;
    }

    &-line {
      display: block;
      margin: 0 auto 3rem;
      width: 4rem;
    }
  }

  &-clouds {
    text-align: center;

    a {
      display: inline-block;
      margin: 0 0.1rem 0.2rem;
      padding: 0.2rem 0.5rem;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      @include color(color, --second-text-color, $theme-light-second-text-color);
      text-decoration: none;

      &:hover,
      &:active {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &-item {
    &-icon {
      height: 1rem;
    }

    &-label {
      display: inline-block;
      margin: 2rem 0 0.5rem;
      
      a {
        @include color(color, --second-text-color, $theme-light-second-text-color);
      }
    }
  }

  &-post {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    &-title {
      @include color(color, --second-text-color, $theme-light-second-text-color);
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-line {
      border-top: 0.1rem solid;
      display: block;
      width: 0;
    }

    &-meta {
      text-align: right;
      white-space: nowrap;
    }

    &:hover,
    &:active {
      .tags-post-line {
        width: 3rem;
      }
    }
  }
}
