$body-width: 720px;

$font-size: 18px;
$font-size-code: 16px;
$font-primary: 'Poppins', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// In order to add new rules, update the '.theme-dark' property from '_macros.scss' file.
$theme-light-bg-color: white;
$theme-dark-bg-color: #292929;

$theme-light-first-text-color: #444;
$theme-dark-first-text-color: #ccc;

$theme-light-second-text-color: #555;
$theme-dark-second-text-color: #ccc;

$theme-light-accent-text-color: #00a3f1;
$theme-dark-accent-text-color: #00a3f1;

$theme-light-links-color: #16558d;
$theme-dark-links-color: #6cbaff;

$theme-light-catalogue-color: #efefef;
$theme-dark-catalogue-color: #212121;

$theme-light-code-background-color: rgba(27,31,35,.05);
$theme-dark-code-background-color: #3f3f3f;

//
$theme-light-timeline-background-color: #00a3f1;
$theme-dark-timeline-background-color: #16558d;

$theme-light-timeline-bullet-color: #4db9f3;
$theme-dark-timeline-bullet-color: #153b5e;
