.cv {
  .company {
    display: flex;
  }

  img {
    padding-right: 20px;
    align-self: flex-start;
    vertical-align: top;
    margin: 0;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
  }

  .content {
    flex: 1 1 auto;

    .title {
      font-weight: bold;
      font-size: larger;
      margin: 0
    }

    time {
      font-size: initial
    }

    .location {
      display: block;
      margin: 0;
    }

    .skills {
      display: block;
      margin: 0;

      span {
        font-weight: bold;
      }
    }
  }

  button {
    padding: 2px 15px;
    margin-top: 15px;
  }
}
