{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.title | default(value='JesusValera') }}</title>
  <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:400,600" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='assets/favicon-32x32.jpeg') | safe }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='assets/favicon-16x16.jpeg') | safe }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='assets/apple-touch-icon.jpeg') | safe }}">

  {% if config.generate_feed %}
    <link type="application/atom+xml" rel="alternate" href="{{ get_url(path=config.feed_filename | default(value='atom.xml')) | safe }}" title="{{ config.title | default(value='Jesus Valera Reales') }}" />
  {% endif %}

  {% if config.extra.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.extra.google_analytics }}');
    </script>
  {% endif %}

  {% block seo %}
    {%- set site_url = current_url | default(value=get_url(path="404.html")) -%}
    {% set description = config.description | default(value="") -%}
    {% set image = config.extra.seo.image | default(value="") -%}
    {% set image_height = config.extra.seo.image_height | default(value=0) -%}
    {% set image_width = config.extra.seo.image_width | default(value=0) -%}
  {% endblock seo %}
  <script type="text/javascript" src="{{ get_url(path='dark-mode.js') | safe }}"></script>
</head>

<body>
  {% block header %}
  <header>
    <a class="profile-icon" href="{{ config.base_url | safe }}">
      <img alt="JesusValera" src="{{ get_url(path='jesus.webp') | safe }}" width="auto" height="auto">
    </a>
    <nav>
      {% for menu in config.extra.menu %}
        <a href="{{ get_url(path=menu.url) | safe }}">{{ menu.name }}</a>
      {% endfor %}
      <button id="light-mode" onclick="toDarkMode()" title="Switch to dark mode">
        <svg width="20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#444" d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z"></path>
        </svg>
      </button>
      <button id="dark-mode" onclick="toLightMode()" title="Switch to light mode">
        <svg width="20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#ccc" d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z"></path>
        </svg>
      </button>
    </nav>
  </header>
  {% endblock header %}

  <main>
    {% block content %}{% endblock content %}
  </main>

  {% block footer %}
  <footer>
    <div style="display: flex; justify-content: center; align-items: center">
      <span style="margin-right: 6px">
        <span>
          <a href="/other/parlamento-entre-el-rey-cristiano-y-el-sultan-moro/">&#10015;</a> ×
        </span>
        <a href="/atom.xml">RSS</a> &copy; <time datetime="{{ now() | date(format='%Y') }}">{{ now() | date(format="%Y") }}</time> - Jesus Valera Reales
      </span>
      <a href="https://github.com/JesusValera" style="display: inline-block" target="_blank">
        <img alt="github" src="/about/github.svg" style="margin: auto" width="24" height="24">
      </a>
      <a href="https://www.linkedin.com/in/jesusvalera/" style="display: inline-block" target="_blank">
        <img alt="linkedin" src="/about/linkedin.svg" style="margin: auto" width="24" height="24">
      </a>
    </div>
  </footer>
  {% endblock footer %}
</body>
</html>
