{% extends "base.html" %}

{% block seo -%}
  {{ super() }}

  {%- set home = config.extra.expressions.home | default(value="Home") -%}
  {% set og_title = home -%}

  {% if config.title -%}
    {% set title = home ~ " | " ~ config.title -%}
  {% else -%}
    {% set title = home -%}
  {% endif -%}

  {{ macros::seo(title=title, og_title=og_title, description=description, site_url=site_url, image=image, image_height=image_height, image_width=image_width) }}
{%- endblock seo %}

{% block content %}
  <nav class="catalogue">
    {% for page in section.pages %}
      {{ macros::page(page=page) }}
    {% endfor %}
  </nav>
{% endblock content %}
