{% macro page(page) -%}
  <a href="{{ page.permalink | safe }}">
    <div>
      <small>
        <time datetime="{{ page.date }}" class="catalogue-time">
          <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" viewBox="0 0 20 20">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-300.000000, -2799.000000)" fill="#AAAAAAFF">
                <g transform="translate(56.000000, 160.000000)">
                  <path d="M262,2656 C262,2656.552 261.552,2657 261,2657 L247,2657 C246.448,2657 246,2656.552 246,2656 L246,2646 C246,2645.448 246.448,2645 247,2645 L261,2645 C261.552,2645 262,2645.448 262,2646 L262,2656 Z M262,2641 L262,2640 C262,2639.448 261.552,2639 261,2639 C260.448,2639 260,2639.448 260,2640 L260,2641 L255,2641 L255,2640 C255,2639.448 254.552,2639 254,2639 C253.448,2639 253,2639.448 253,2640 L253,2641 L248,2641 L248,2640 C248,2639.448 247.552,2639 247,2639 C246.448,2639 246,2639.448 246,2640 L246,2641 C244.895,2641 244,2641.895 244,2643 L244,2657 C244,2658.104 244.895,2659 246,2659 L262,2659 C263.105,2659 264,2658.104 264,2657 L264,2643 C264,2641.895 263.105,2641 262,2641 L262,2641 Z"></path>
                </g>
              </g>
            </g>
          </svg>
          {{ page.date | date(format="%B %e, %Y") }} ·
          <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" viewBox="0 0 24 24" fill="none">
            <path stroke="#AAAAAAFF" stroke-width="3" stroke-linecap="round" d="M12 7V12H15M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"/>
          </svg>
          {{ page.reading_time }} mins</time>
      </small>
      <p class="catalogue-title">{{ page.title }}</p>
      <p class="catalogue-subtitle">{{ page.extra.subtitle }}</p>
    </div>
  </a>
{%- endmacro %}

{% macro seo(
  title="",
  og_title="",
  description="",
  site_url="",
  image="",
  image_height="",
  image_width="",
  web_type="WebSite"
  ) -%}
{% if title %}
<title>{{ title }}</title>
{% endif %}

{% if og_title %}
<meta property="og:title" content="{{ og_title }}">
{% endif %}

<meta property="og:locale" content="{{ config.extra.seo.og_locale | default(value='en-US') }}">

{% if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endif %}

{% if site_url %}
<link rel="canonical" href="{{ site_url | safe }}">
<meta property="og:url" content="{{ site_url | safe }}">
{% endif %}

{% if config.title %}
  <meta property="og:site_name" content="{{ config.title }}"/>
{% endif %}

{% if image %}
  <meta property="og:image" content="{{ get_url(path=image) | safe }}">
  {% if image_height -%}
    <meta property="og:image:height" content="{{ image_height }}">
  {%- endif %}
  {% if image_width -%}
    <meta property="og:image:width" content="{{ image_width }}">
  {%- endif %}
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article"/>
  <meta property="article:published_time" content="{{ page.date | date(format='%+') }}">
{% endif %}

{% if config.extra.seo.webmaster %}
  {% if config.extra.seo.webmaster.google %}
    <meta name="google-site-verification" content="{{ config.extra.seo.webmaster.google }}"/>
  {% endif %}

  {% if config.extra.seo.webmaster.bing %}
    <meta name="msvalidate.01" content="{{ config.extra.seo.webmaster.bing }}"/>
  {% endif %}
{% endif %}

<script type="application/ld+json">
{
  "description": "{{description }}",
  "url": "{{ site_url | safe }}",
  "@context":"https://schema.org",
  "@type": "{{ web_type }}",
  "headline": "{{ og_title }}"
  {% if page %}
    {% if page.updated %}
      "dateModified":"{{ page.updated | date(format='%+') }}",
    {% endif %}
    {% if page.date %}
      "datePublished":"{{ page.date | date(format='%+') }}",
    {% endif %}
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ site_url | safe }}"
    },
  {% endif %}
}
</script>
{%- endmacro %}
